<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="/users"><b>Users</b></a>
      <a href="/prods"><b>Products</b></a>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      footer
    </footer>
  </body>
</html>